.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .div-texto {
    margin-bottom: 20px;
  }
  
  img {
    width: 300px;
    height: auto;
    border-radius: 50%; 
    margin-top: 20px;
  }
  