.container-fluid {
  background-color: #b0b0b0; /* Fondo general */
  padding: 20px;
  border-radius: 8px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card h4 {
  margin-bottom: 20px;
}

.table {
  color: white;
}

.btn-primary {
  background-color: #3498db;
  border: none;
}

.btn-secondary {
  background-color: #95a5a6;
  border: none;
}

.text-danger {
  font-size: 0.9rem;
}
