.contenedor-detalle-pais {
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  background-color: #f8f9fa;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

img {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
